<div class="container">
    <h1 class="title is-1">Welcome: {{username}}</h1>
</div>

<div class="container">
    <div class="box">
        <button id="createPostBtn" class="button is-primary">Create</button>
    </div>
</div>

<div class="container" id="formCtn" style="display: none;">
    <div class="box">
        <form id="createPostForm">
            <h1 class="title is-3">Create Post</h1>
            <label for="title">Title</label>
            <input class="input" type="text" id="title">
            <label for="content">Content</label>
            <input class="input" type="text" id="content">
            <button id="submitPostBtn" class="button is-success">Submit Post</button>
        </form>
    </div>
</div>

{{#each plainUserPosts.posts}}
<div class="container">
    <div class="box">

        {{!-- Post title --}}
        <h1 class="title is-2">{{title}}</h1>
        {{!-- Post content --}}
        <p>{{content}}</p>

        <button id="editBtns" class="button is-warning">Edit</button>
        <button class="button is-danger">Delete</button>
    
        <div id="editFormBox" class="box" style="display: none;">
            <form id="editForm">
                <h1 id="postId" style="display: none">{{id}}</h1>
                <label for="editTitle">Title</label>
                <input class="input" id="editTitle" type="text">
                <label for="editContent">Content</label>
                <input class="input" id="editContent" type="text">
                <button class="button is-success">Submit Edit</button>
            </form>
        </div>

    </div>
    
</div>
{{/each}}

<script src="/js/dashboard.js"></script>