<div class="container">
    <div class="box">
        <h1 class="title is-1">Welcome to the Techblog</h1>
        <p class="title is-2">Post your tech reviews on any products!</p>
    <div>
    <div class="box">
        {{#each plainAllPosts}}
            <div class="box">
                <h1 class="title is-2">{{title}}</h1>
                <p class="is-size-4">{{content}}</p>
            </div>
        {{/each}}
    </div>
</div>