<div>
    <div class="container form-container">
        <div class="box">
            <h1 class="title is-1">Create New Post</h1>
            <form class="form">
                <label for="title">Title</label>
                <input class="input" type="text" id="title">
                <label for="content">Content</label>
                <input class="input" type="input" id="content">
                <button id="post-button" class="button" type="submit">Post</button>
            </form>
        </div>
    </div>    
</div>

<script src="/js/posts.js"></script>